<ng-template [ngIf]="servicing">
  <div id="policyServicing" *ngFor="let service of servicing">
    <ion-row class="header">
      <ion-col class="icon-container">
        <img [src]="service.icon" />
      </ion-col>
      <ion-col>
        {{service.title}}
      </ion-col>
    </ion-row>
    <ion-row class="body" *ngFor="let option of service.options">
      <ion-col class="icon-container"></ion-col>
      <ion-col>
        {{option.title}}
      </ion-col>
      <ion-col class="icon-container" text-right>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <button ion-button clear text-center>
    <ion-icon name="ios-arrow-up-outline"></ion-icon>
  </button>
</ng-template>
